.quicknav-track {
  position: relative;
  overflow: auto;
  width: 280px;

  @media screen and (max-width: 1100px) {
    display: none;
  }
}

.quicknav-content {
  position: fixed;
  top: 130px;
  width: 280px;
  padding-left: 20px;
  display: flex;
  flex-flow: column;
  gap: 5px;
}
