name: Deploy

on:
  push:
    branches: [main]

jobs:
  cd:
    name: Deploy prod
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: SSH and update server
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /var/www/ui
            git pull
            cd /var/www
            docker compose up -d --build
            docker image prune -f
